html{
    width: 70%;
    margin-left: 15%;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
}

header{
    position: relative;
    width: 100%;
}

.header-div-1{
    background-color: darkgray;
    height: 200px;
}

.header-div-2{
    background-color: lightgray;
    height: 30px;
}

.header-div-3{
    background-color: darkgray;
    height: 30px;
}

.header-name{
    display: inline;
    font-size: 2em;
    background-color: orange;
    padding: 8px;
    border-radius: 10px;
    margin: 0px auto;
}

div.img-name{
    margin-left: auto; 
    margin-right: auto; 
    width: max-content; 
    position: absolute; 
    left: 0px;
    right: 0px;
}

img{
    display: inline; 
    width: 120px; 
    height: 120px; 
    border: dotted chocolate 2px; 
    border-radius: 50%;
}

/* -------------------------MAIN---------------------------- */

body{
    width: 100%;
}

main{
    width:100%;
}

.left-col{
    width: 45%;
    float: left;
    text-align: justify;
}
.right-col{
    width: 45%;
    float: right;
}

i{
    color: chocolate;
    display: inline;
}

h3,h4,h5{
    display: inline;
}